<!DOCTYPE html>
<html>
<head>
  <title>Serviceable</title>
  <%= stylesheet_link_tag    "serviceable/application", media: "all" %>
  <%= javascript_include_tag "serviceable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
